@include component (mail-overlay) {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8888;
    left: 0;
    top: 0;
    background: white;

    @include part(close) {
        position: absolute;
        margin-top: 10px;
        margin-right: 20px;
        width: 3%;
        right: 0;
        z-index: 9999 !important;
    }
}
