@include component(multi-email-address-editor) {
  @include part(button-container) {
    margin-bottom: 10px;
  }

  @include part(email-list-container) {
    margin-bottom: 10px;

    @include part(input) {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}
