@include component(statistics-email-viewer) {
    @include part(header) {
        font-weight: 800;
        color: black;
        padding: 40px;
        position: relative;

        @include part(row) {
            margin-bottom: 5px;
            //display: block;
            min-height: 20px;

            @include part(label) {
                float: left;
                min-width: 5%;
            }

            @include part(item) {
                float: left;
                min-width: 90%;
            }
        }
    }
}
