@include component(statistics-editor) {

    @include part(title) {
        padding: 20px;
    }

    @include part(filter-container) {
        display: inline-flex;
        width: 100%;
        margin-bottom: 25px;

        @include part(section) {
            @include part(row) {
                display: block;
                width: 100%;

                @include part(label) {
                    display: inline-block;
                    margin-right: 5%;

                    @include option(extended) {
                        width: 50%;
                        margin-right: 0;

                        @include bp($tablet) {
                            width: 50%;
                        }

                        @include bp($landscapetablet) {
                            width: 25%;
                        }
                    }
                }

                @include part(column) {
                    display: block;
                    width: 100%;
                    margin-bottom: 10px;


                    @include bp($tablet) {
                        vertical-align: top;
                        display: inline-block;
                        width: 22%;
                        margin-right: 2%;

                        &:last-of-type {
                            margin-right: 0;
                        }
                    }

                    @include bp($landscapetablet) {
                        vertical-align: unset;
                        width: 23%;
                        margin-right: 1%;
                    }

                    @include option(statistics) {
                        @include bp($tablet) {
                            position: relative;
                            vertical-align: top;
                            display: inline-block;
                            width: 45%;
                            margin-right: 2%;
                            min-height: 100px;

                            &:last-of-type {
                                margin-right: 0;
                            }
                        }

                        @include bp($landscapetablet) {
                            width: 48%;
                            margin-right: 1%;
                        }
                    }
                }

                @include part(logo) {
                    width: 50%;
                    margin: 30px auto;
                    display: block;

                    @include bp($bigmobile) {
                        width: 25%;
                    }

                    @include bp($tablet) {
                        position: absolute;
                        right: 0;
                        height: 100px;
                        width: 100px;
                        margin: 0;
                    }
                }

                @include part(input) {
                    width: 100%;
                    display: block;

                    @include bp($landscapetablet) {
                        display: inline-block;
                        width: 55%;
                    }
                }

                @include part(select) {
                    width: 100%;
                    display: block;

                    @include bp($landscapetablet) {
                        display: inline-block;
                        width: 55%;
                    }
                }

                @include part(text) {
                }
            }

            @include option(left) {
                flex-basis: 25%;
            }

            @include option(right) {
                margin-top: 10px;
                //width: 40%;
                float: right;
                flex-basis: 25%;
            }

            @include option(center) {
                flex-basis: 40%;
            }
        }
    }

    @include part(table-container) {
        width: 100%;
        overflow-x: scroll;

        @include bp($tablet) {
            overflow-x: unset;
        }

        @include part(table) {
            width: 100%;
            box-sizing: border-box;
            border-radius: 10px;
            overflow: hidden;

            @include part(head) {
                background-color: $palette_f;

                @include part(row) {
                    box-sizing: border-box;

                    @include part(item) {
                        text-align: left;
                        box-sizing: border-box;
                        padding-left: 10px;
                        height: 50px;
                        color: $white;
                        opacity: 0.8;
                        transition: all 0.1s;
                        cursor: default;

                        &:hover {
                            opacity: 1;
                        }

                        @include option(to) {
                            width: 40%;
                        }

                        @include option(date) {
                            width: 15%;
                        }

                        @include option(subject) {
                            width: 25%;
                        }

                        @include option(status) {
                            width: 6%;
                        }

                        @include option(view) {
                            width: 6%;
                            opacity: 0!important;
                            pointer-events: none;
                        }

                        @include option(resend) {
                            width: 8%;
                            opacity: 0!important;
                            pointer-events: none;
                        }
                    }
                }
            }

            @include part(body) {
                @include part(row) {
                    transition: all 0.1s;
                    border-bottom: 1px solid $grey-1;
                    height: 50px;
                    margin: 0 50px;

                    &:hover {
                        background-color: #f5c1bc;
                    }

                    @include part(item) {
                        box-sizing: border-box;
                        padding-left: 10px;

                        @include option(to) {
                        }

                        @include option(date) {
                        }

                        @include option(subject) {
                        }

                        @include option(status) {
                            span {
                                pointer-events: none;
                                cursor: default;
                            }
                        }

                        @include option(button) {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}
