<div class="multi-email-address-editor" ng-controller="DarwinMail.CustomTagsEditor">
    <div class="multi-email-address-editor__button-container">
        <a href class="btn btn-success multi-email-address-editor__button" ng-click="AddToList()">Add</a>
    </div>

    <div class="multi-email-address-editor__email-list-container" ng-repeat="tagPair in model.value">
        <input ng-class="multi-email-address-editor__email-list-container__input" type="text" placeholder="[#tag#]" ng-model="tagPair.Tag"/>
        <input ng-Class="multi-email-address-editor__email-list-container__input" type="text" placeholder="Value" ng-model="tagPair.Value" />
        <a href class="btn btn-warning multi-email-address-editor__button" ng-click="removeFromList($index)">Remove</a>
    </div>
</div>
