<div class="email-address-editor" ng-controller="DarwinMail.EmailAddressEditor">
    <input type="text" placeholder="Name" ng-model="model.value.Name" />
    <input type="text" placeholder="Email" ng-model="model.value.Email" />
    <input ng-show="{{model.showTestButton === true}}" type="button" ng-click="model.SendTest()" class="btn btn-success email-address-editor__button" value="Send Test" />
</div>
