<umb-pane>
    <div class="statistics-editor" ng-controller="DarwinMail.MailNodeStatisticsController as vm">
        <umb-box>
            <umb-box-header title="Statistics" class="statistics-editor__title"/>
            <umb-box-content>
                <div class="statistics-editor__filter-container__section__row__column --statistics">
                    <div class="statistics-editor__filter-container__section__row">
                        <label class="statistics-editor__filter-container__section__row__label --extended">Total
                            sent:</label>
                        <span class="statistics-editor__filter-container__section__row__text">{{vm.EmailsSent}}</span>
                    </div>
                    <div class="statistics-editor__filter-container__section__row">
                        <label class="statistics-editor__filter-container__section__row__label --extended">Total
                            failed:</label>
                        <span class="statistics-editor__filter-container__section__row__text">{{vm.EmailsFailed}}</span>
                    </div>
                </div>
                <div class="statistics-editor__filter-container__section__row__column --statistics">
                    <img class="statistics-editor__filter-container__section__row__logo" src="https://www.darwindigital.co/darwin-logo-med.png"/>
                </div>
            </umb-box-content>
        </umb-box>
        <umb-box>
            <umb-box-header title="Historical Data" class="statistics-editor__title"/>
            <umb-box-content>
                <div class="statistics-editor__filter-container">
                    <div class="statistics-editor__filter-container__section__row">
                        <div class="statistics-editor__filter-container__section__row__column">
                            <label class="statistics-editor__filter-container__section__row__label" for="fromDate">
                                Sent
                                from
                            </label>
                            <input class="statistics-editor__filter-container__section__row__input" type="date"
                                   name="fromDate" id="fromDate"
                                   placeholder="From date" ng-model="vm.FromDate" ng-change="vm.filter(this)" />
                        </div>
                        <div class="statistics-editor__filter-container__section__row__column">
                            <label class="statistics-editor__filter-container__section__row__label" for="toDate">
                                Sent
                                to
                            </label>
                            <input class="statistics-editor__filter-container__section__row__input" type="date"
                                   name="toDate" id="toDate"
                                   placeholder="To date" ng-model="vm.ToDate" ng-change="vm.filter(this)" />
                        </div>
                        <div class="statistics-editor__filter-container__section__row__column">
                            <label class="statistics-editor__filter-container__section__row__label"
                                   for="toEmail">Email</label>
                            <input class="statistics-editor__filter-container__section__row__input" type="text"
                                   name="toEmail" id="toEmail"
                                   placeholder="Email" ng-model="vm.Email" ng-change="vm.filter(this)" />
                        </div>
                        <div class="statistics-editor__filter-container__section__row__column">
                            <label class="statistics-editor__filter-container__section__row__label"
                                   for="status">Status</label>
                            <select class="statistics-editor__filter-container__section__row__select" name="status"
                                    id="status" ng-model="vm.Status" ng-change="vm.filter(this)">
                                <option value="all" selected>All</option>
                                <option value="sent">Sent</option>
                                <option value="failed">Failed</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="statistics-editor__table-container">
                    <table class="statistics-editor__table-container__table ">
                        <thead class="statistics-editor__table-container__table__head">
                        <tr class="statistics-editor__table-container__table__head__row">
                            <th class="statistics-editor__table-container__table__head__row__item --to">To</th>
                            <th class="statistics-editor__table-container__table__head__row__item --date">Date</th>
                            <th class="statistics-editor__table-container__table__head__row__item --subject">Subject
                            </th>
                            <th class="statistics-editor__table-container__table__head__row__item --status">Status</th>
                            <th class="statistics-editor__table-container__table__head__row__item --view">View</th>
                            <th class="statistics-editor__table-container__table__head__row__item --resend">Resend</th>
                        </tr>
                        </thead>
                        <tbody class="statistics-editor__table-container__table__body">
                        <tr ng-repeat="email in vm.Emails"
                            class="statistics-editor__table-container__table__body__row">
                            <td class="statistics-editor__table-container__table__body__row__item --to">
                                {{email.To.length
                                === 1 ? email.To[0].Name + ' [' + email.To[0].Email + ']' : email.To.length + '
                                receipients'}}
                            </td>
                            <td class="statistics-editor__table-container__table__body__row__item --date">{{email.Date |
                                date: 'dd/MM/yyyy HH:mm'}}
                            </td>
                            <td class="statistics-editor__table-container__table__body__row__item --subject">
                                {{email.Subject}}
                            </td>
                            <td class="statistics-editor__table-container__table__body__row__item --status">
                                <span ng-class="email.Sent ? 'btn-success' : 'btn-danger'" class="btn">{{email.Sent ? 'Sent' : 'Error'}}</span>
                            </td>
                            <td class="statistics-editor__table-container__table__body__row__item --view  --button">
                                <button class="btn btn-warning" ng-click="vm.DisplayEmail($index)">View</button>
                            </td>
                            <td class="statistics-editor__table-container__table__body__row__item --resend --button">
                                <button class="btn btn-info" ng-click="vm.ResendEmail(email.Id)">Resend</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </umb-box-content>
        </umb-box>

        <div id="emailOverlayContainer" class="mail-overlay">
            <div id="closeOverlay" style="display: none;" class="btn btn-danger mail-overlay__close">X</div>
            <div str-Mailheader></div>
        </div>
    </div>
</umb-pane>
