﻿<div class="multi-email-address-editor" ng-controller="DarwinMail.MultipleEmailAddressEditor">
    <div class="multi-email-address-editor__button-container">
        <a href class="btn btn-success multi-email-address-editor__button" ng-click="AddToList()">Add</a>
    </div>

    <div class="multi-email-address-editor__email-list-container" ng-repeat="pair in model.value">
        <input type="text" placeholder="Name" ng-model="pair.Name"/>
        <input type="email" placeholder="Email" ng-model="pair.Email" />
        <a href class="btn btn-warning multi-email-address-editor__button" ng-click="removeFromList($index)">Remove</a>
    </div>
</div>